In [1]:
import pandas as pd

In [2]:
fileName = "./CSV/data1.csv"

In [3]:
data = pd.read_csv(fileName, error_bad_lines=False, encoding='latin-1');

In [4]:
data_text = data[['text']]

In [5]:
data_text.index

RangeIndex(start=0, stop=2000, step=1)

In [6]:
data_text["index"] = data_text.index

In [7]:
data_text['datetime'] = data[['created_at']]

In [8]:
(len(data_text))
# data_text

2000

In [9]:
document = data_text

In [10]:
print(document[:10])

                                                text  index  \
0  Modi's Ayushman Bharat is born through caesare...      0
1  RT @centerofright: First claim made on #Ayushm...      1
2  RT @drdineshias: First claim raised under #Ayu...      2
3  RT @centerofright: First claim made on #Ayushm...      3
4  RT @centerofright: First claim made on #Ayushm...      4
5  First claim raised under Ayushman Bharat with ...      5
6  RT @SureshNakhua: #ModiCare aka Ayushman Bhara...      6
7  RT @centerofright: First claim made on #Ayushm...      7
8  RT @drdineshias: First claim raised under #Ayu...      8
9  AAP puts Ayushman Bharat for Delhi in jeopardy...      9

                         datetime
0  Sat Sep 01 23:58:23 +0000 2018
1  Sat Sep 01 23:56:53 +0000 2018
2  Sat Sep 01 23:54:54 +0000 2018
3  Sat Sep 01 23:53:54 +0000 2018
4  Sat Sep 01 23:52:37 +0000 2018
5  Sat Sep 01 23:48:16 +0000 2018
6  Sat Sep 01 23:44:36 +0000 2018
7  Sat Sep 01 23:44:14 +0000 2018
8  Sat Sep 01 23:42:51 +0000 2018
9  Sat Sep 01 23:36:07 +0000 2018

In [11]:
import gensim
from gensim.utils import simple_preprocess
from gensim.parsing.preprocessing import STOPWORDS
from nltk.stem import WordNetLemmatizer, SnowballStemmer
from nltk.stem.porter import *
import nltk
import numpy as np
np.random.seed(2018)

In [12]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Aditya\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [13]:
def lemmatize(text):
#     stemmer = PorterStemmer()
#     return stemmer.stem(WordNetLemmatizer().lemmatize(text, pos='v'))
    return WordNetLemmatizer().lemmatize(text, pos='v')

In [14]:
lemmatize("sleeps")

'sleep'

In [15]:
import re
def remove_url(text):
    result = re.sub(r"http\S+", "", text)
    return result

In [16]:
remove_url("https://sdemdsqn dnkefnldwdj")

' dnkefnldwdj'

In [17]:
def rem_user(t):
    t = re.sub('#[^\s]+','',t)
    return re.sub('@[^\s]+','',t)

In [18]:
rem_user("RT @centerofright #safdg: First claim made on")

'RT   First claim made on'

In [19]:
def spellcheck(text):
    return  re.sub(r'[^a-z]', '', text)

In [20]:
def preprocess(text):
    text = remove_url(text)
    text = rem_user(text)
    result = []
    for token in gensim.utils.simple_preprocess(text):
        if token not in gensim.parsing.preprocessing.STOPWORDS and len(token) > 3:
            lem = lemmatize(token)
            spl = spellcheck(lem)
            if len(spl) >2:
                result.append(spl)
    return result

In [21]:
spellcheck("edennnswn#21efne")

'edennnswnefne'

In [22]:
preprocess("RT @centerofright: First claim sleep  made on23 https://hghh.vojmn")

['claim', 'sleep']

In [23]:
doc_sample = document['text'][33]
print('original document: ')
words = []
for word in doc_sample.split(" "):
    words.append(word)
print(words)
print('\n\n tokenized and lemmatized document: ')
print(preprocess(doc_sample))

original document:
['RT', '@centerofright:', 'First', 'claim', 'made', 'on', '#AyushmanBharat', '-', 'Great', 'start', 'to', '#ModiCare', 'ä\x81_@narendramodiä\x81©', '-', 'Fittingly', '-', 'it', 'was', 'on', 'birth', 'of', 'a', 'Girl', 'Cäó_']


 tokenized and lemmatized document:
['claim', 'great', 'start', 'fittingly', 'birth', 'girl']

In [24]:
processed_docs = document
processed_docs['text'] = processed_docs['text'].map(preprocess)

In [25]:
processed_docs

,text,index,datetime
0,"[modi, ayushman, bharat, bear, caesarean, sect...",0,Sat Sep 01 23:58:23 +0000 2018
1,"[claim, great, start, fittingly, birth, girl]",1,Sat Sep 01 23:56:53 +0000 2018
2,"[claim, raise, baby, girl, bear, caesarean, se...",2,Sat Sep 01 23:54:54 +0000 2018
3,"[claim, great, start, fittingly, birth, girl]",3,Sat Sep 01 23:53:54 +0000 2018
4,"[claim, great, start, fittingly, birth, girl]",4,Sat Sep 01 23:52:37 +0000 2018
5,"[claim, raise, ayushman, bharat, birth, girl, ...",5,Sat Sep 01 23:48:16 +0000 2018
6,"[ayushman, bharat, bear, caesarean, section, e...",6,Sat Sep 01 23:44:36 +0000 2018
7,"[claim, great, start, fittingly, birth, girl]",7,Sat Sep 01 23:44:14 +0000 2018
8,"[claim, raise, baby, girl, bear, caesarean, se...",8,Sat Sep 01 23:42:51 +0000 2018
9,"[put, ayushman, bharat, delhi, jeopardy, deman...",9,Sat Sep 01 23:36:07 +0000 2018
10,"[claim, great, start, fittingly, birth, girl]",10,Sat Sep 01 23:33:02 +0000 2018
11,"[claim, great, start, fittingly, birth, girl]",11,Sat Sep 01 23:30:42 +0000 2018
12,"[claim, great, start, fittingly, birth, girl]",12,Sat Sep 01 23:28:20 +0000 2018
13,"[claim, great, start, fittingly, birth, girl]",13,Sat Sep 01 23:27:25 +0000 2018
14,"[claim, great, start, fittingly, birth, girl]",14,Sat Sep 01 23:24:16 +0000 2018
15,"[claim, great, start, fittingly, birth, girl]",15,Sat Sep 01 23:23:13 +0000 2018
16,"[claim, great, start, fittingly, birth, girl]",16,Sat Sep 01 23:20:40 +0000 2018
17,"[claim, raise, baby, girl, bear, caesarean, se...",17,Sat Sep 01 23:19:07 +0000 2018
18,"[claim, great, start, fittingly, birth, girl]",18,Sat Sep 01 23:16:15 +0000 2018
19,"[claim, raise, today, baby, girl, bear, caesar...",19,Sat Sep 01 23:14:54 +0000 2018
20,"[mission, director, organise, yoga, encouragem...",20,Sat Sep 01 23:14:34 +0000 2018
21,"[claim, great, start, fittingly, birth, girl]",21,Sat Sep 01 23:07:59 +0000 2018
22,"[days, launch, ayushman, bharat, baby, karishma]",22,Sat Sep 01 23:05:52 +0000 2018
23,"[days, launch, ayushman, bharat, baby, karishma]",23,Sat Sep 01 23:05:24 +0000 2018
24,"[claim, raise, baby, girl, bear, caesarean, se...",24,Sat Sep 01 23:04:07 +0000 2018
25,"[claim, great, start, fittingly, birth, girl]",25,Sat Sep 01 23:03:36 +0000 2018
26,"[claim, great, start, fittingly, birth, girl]",26,Sat Sep 01 23:02:29 +0000 2018
27,"[claim, raise, baby, girl, bear, caesarean, se...",27,Sat Sep 01 22:58:18 +0000 2018
28,"[claim, raise, baby, girl, bear, caesarean, se...",28,Sat Sep 01 22:49:36 +0000 2018
29,"[mega, health, plan, cripple, insist, flagship...",29,Sat Sep 01 22:46:09 +0000 2018
...,...,...,...
1970,"[ayushma, plan, typical, modi, idea, impossibl...",1970,Tue Sep 04 04:54:57 +0000 2018
1971,"[namo, app]",1971,Tue Sep 04 04:54:47 +0000 2018
1972,"[claim, raise, baby, girl, bear, caesarean, se...",1972,Tue Sep 04 04:53:45 +0000 2018
1973,"[karishma, karnal, india, beneficiary]",1973,Tue Sep 04 04:52:50 +0000 2018
1974,"[pragati, session, today, review, aspects, rel...",1974,Tue Sep 04 04:52:35 +0000 2018
1975,"[pragati, session, today, review, aspects, rel...",1975,Tue Sep 04 04:52:35 +0000 2018
1976,"[haryana, girl, india, newborn, beneficiary, a...",1976,Tue Sep 04 04:52:07 +0000 2018
1977,"[write, prophesy, ayushman, bharat, health, in...",1977,Tue Sep 04 04:50:09 +0000 2018
1978,"[haryana, days, karishma, bear, kalpana, chawl...",1978,Tue Sep 04 04:47:40 +0000 2018
1979,"[claim, raise, baby, girl, bear, caesarean, se...",1979,Tue Sep 04 04:46:39 +0000 2018
1980,"[karishma, karnal, india, beneficiary]",1980,Tue Sep 04 04:45:28 +0000 2018
1981,"[baby, angel, yojna, haryana, baby, karishma, ...",1981,Tue Sep 04 04:43:45 +0000 2018
1982,"[haryana, girl, india, newborn, beneficiary, a...",1982,Tue Sep 04 04:41:51 +0000 2018
1983,"[build, toilets, modi, admi, vulnerable, disea...",1983,Tue Sep 04 04:40:07 +0000 2018
1984,"[haryana, girl, india, newborn, beneficiary, a...",1984,Tue Sep 04 04:39:51 +0000 2018
1985,"[bear, independence, haryana, girl, india, new...",1985,Tue Sep 04 04:39:45 +0000 2018
1986,"[haryana, girl, india, newborn, beneficiary, a...",1986,Tue Sep 04 04:38:03 +0000 2018
1987,"[haryana, girl, india, newborn, beneficiary, a...",1987,Tue Sep 04 04:37:53 +0000 2018
1988,"[haryana, girl, india, newborn, beneficiary, a...",1988,Tue Sep 04 04:37:40 +0000 2018
1989,"[haryana, girl, india, newborn, beneficiary, a...",1989,Tue Sep 04 04:37:04 +0000 2018
1990,"[pilot, ayushman, bharat, yojana, inaugurate, ...",1990,Tue Sep 04 04:33:01 +0000 2018
1991,"[claim, raise, baby, girl, bear, caesarean, se...",1991,Tue Sep 04 04:32:24 +0000 2018
1992,"[haryana, girl, india, newborn, beneficiary, a...",1992,Tue Sep 04 04:31:11 +0000 2018
1993,"[haryana, girl, india, newborn, beneficiary, a...",1993,Tue Sep 04 04:30:03 +0000 2018
1994,"[pilot, ayushman, bharat, yojana, inaugurate, ...",1994,Tue Sep 04 04:28:51 +0000 2018
1995,"[bear, independence, haryana, girl, india, new...",1995,Tue Sep 04 04:27:18 +0000 2018
1996,"[haryana, girl, india, newborn, beneficiary, a...",1996,Tue Sep 04 04:25:55 +0000 2018
1997,"[karishma, karnal, india, beneficiary]",1997,Tue Sep 04 04:25:27 +0000 2018
1998,"[haryana, girl, india, newborn, beneficiary, a...",1998,Tue Sep 04 04:24:39 +0000 2018
1999,"[doctor, think, price, healthcare, business, s...",1999,Tue Sep 04 04:23:56 +0000 2018

In [26]:

import re
from collections import Counter
import datetime

In [27]:
def concat(docs):
    string = ""
    for w in doc:
        string= string+w + " "
    return string

In [28]:
def freq(string):
    return Counter(re.findall(r"([A-Za-z]+'[A-Za-z]|[A-Za-z]+)", string))

In [29]:
str = concat(processed_docs['text'])
a = freq(str)

NameError: name 'doc' is not defined

In [33]:
from datetime import date

In [37]:
def getDate(text):
    d = datetime.datetime.strptime(text,"%a %b %d %H:%M:%S %z %Y").strftime('%d%b%Y')
    return d

def getDay(text):
    d = datetime.datetime.strptime(text,"%a %b %d %H:%M:%S %z %Y").strftime('%d')
    return d

In [ ]:
getDate("Tue Sep 04 04:52:50 +0000 2018")

In [ ]:
result = {}
result['01Sep2018'] = ""
result['02Sep2018'] = ""
result['03Sep2018'] = ""
result['04Sep2018'] = ""
for i, doc in enumerate(processed_docs['text']):
    dat = getDate(processed_docs['datetime'][i])
    result[dat] += " ".join(doc) + " "

In [ ]:

from collections import OrderedDict

In [ ]:
t = ""
for k, r in result.items():
    t = freq(r)
    result[k] = OrderedDict(sorted(t.items(), key=lambda x: x[1], reverse=True))
    print(result[k])

In [ ]:
result

In [51]:
def count_tweets(docs):
    tweets = [0, 0, 0, 0]
    for x in docs:
        t = int(getDay(x)) -1
        tweets[t] = tweets[t] + 1
    return tweets

In [52]:
count_tweets(processed_docs['datetime'])

[500, 500, 500, 500]